---
import ReactIcon from "@/helpers/ReactIcons.astro";
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";
import { getLocaleUrlCTM, supportedLanguages } from "@/lib/utils/i18nUtils";
import trailingSlashChecker from "@/lib/utils/trailingSlashChecker";

const currentLocale = Astro.currentLocale;
const languages = supportedLanguages.map((lang) => {
  const href = getLocaleUrlCTM(Astro.url.pathname, lang.languageCode as string);

  // Don't include current locale in url
  if (href === trailingSlashChecker(Astro.url.pathname)) {
    return;
  }

  return {
    slug: href,
    ...lang,
  };
});
---

<div
  class:list={[
    "language-switcher hs-dropdown relative [--auto-close:inside] [--gpu-acceleration:false] [--strategy:absolute]",
    Astro.props.appearance === "light" && "language-switcher-light",
  ]}>
  <button
    type="button"
    id="language-switcher-dropdown-toggle"
    class="language-switcher-button hs-dropdown-toggle"
    aria-expanded="false"
    aria-label="Menu">
    <!-- <OptimizedImage
      inlineSvg={true}
      src="/images/icons/svg/multilingual.svg"
      alt="icon"
      class="w-4"
    /> -->
    <span class="text uppercase">{currentLocale}</span>
    <ReactIcon
      icon="IoIosArrowDown"
      class="hs-dropdown-open:rotate-180 w-3.5 transition-transform duration-300"
    />
  </button>
  <ul
    class="language-switcher-dropdown hs-dropdown-menu hs-dropdown-open:mt-0 hs-dropdown-open:opacity-100 hs-dropdown-open:visible top-0 z-10 mt-2 hidden w-24 min-w-32 opacity-0 [--placement:right-start]"
    aria-labelledby="language-switcher-dropdown-toggle">
    {
      languages.map(
        (language) =>
          language && (
            <li>
              <a
                class:list={[
                  {
                    active: language.languageCode === currentLocale,
                  },
                  "capitalize",
                ]}
                href={language.slug}
                set:html={language.contentDir}
              />
            </li>
          ),
      )
    }
  </ul>
</div>
