---
import BlogCard from "@/components/cards/BlogCard.astro";


interface Post {
  slug: string,
  title: string,
  heroImage?: {
    url: string,
  },
  categories?: [
    {
      slug: string,
      title: string,
    }
  ],
  meta?: {
    title: 'string',
    image: {
      url: string,
    },
    description: string,
  }
}

type Props = {
  posts: Array<Post>,
};

// Fetching the default content for the this section

const { posts } = Astro.props;
---

<section id="blog">
  <div class:list={["bg-body mb-30 py-12 md:py-10"]}>
    <div class="container space-y-14">
      <h2 class:list={["text-h1-sm md:text-h1 mx-auto max-w-4xl text-center"]}>
        Our recent posts
      </h2>
      <div
        class:list={[
          "gap-x-20 lg:columns-2",
          "space-y-10",
        ]}>
        {
          posts.map((item: any, index: number) => (
            <BlogCard
              class:list={["space-y-4 overflow-hidden"]}
              content={item}
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
