---
import type { z } from "astro/zod";
import { getEntryCTM } from "@/lib/customContentLoader.astro";
import { markdownify } from "@/lib/utils/textConverter";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import type { CTASectionSchema } from "@/sections.schema";
import CTACard from "@/layouts/components/cards/CTACard.astro";

// Type for this section data
type CTASectionSchema = NonNullable<z.infer<typeof CTASectionSchema>>;

type Props = {
  content?: CTASectionSchema;
};

// Fetching the default content for the this section
let defaultContent = (
  await getEntryCTM("sections", "CTA-section", Astro.currentLocale)
)?.data as CTASectionSchema;

// Enables content customization (e.g., title, description) with a fallback to 'defaultContent' if not provided.
// The 'content' prop should match the structure of 'defaultContent'.
// Allows using this section with different content across multiple pages.
// If 'content' is missing, 'defaultContent' will be used.
let actualContent = overrideObjects(
  { ...defaultContent },
  Astro.props.content,
) as CTASectionSchema;

// Extracting required values from 'content' object
let { enable = true, title, list } = actualContent || {};

if (!enable) {
  return null;
}
---

<section id="contact" class="bg-primary pb-20 md:pb-30">
  <div class="container space-y-14">
    {
      title && (
        <div class="text-center">
          <h2 class="text-h1-sm md:text-h1" set:html={markdownify(title)} />
        </div>
      )
    }

    <div class="container">
      {list.map((item) => <CTACard content={item} />)}
    </div>
  </div>
</section>
