---

const { data } = Astro.props;

---

<div class="bg-blue p-2 text-center text-xl text-dark">
  <div class="container">
    {data?.link ? (
      <a href={data.link}>{data.message}</a>
    ) : (
      <span>{data.message}</span>
    )}
  </div>
</div>