---

// Props
interface Props {
  text?: string;
  url?: string;
}

const { text, url } = Astro.props;

---

<div class="bg-blue p-2 text-center text-xl text-dark">
  <a href="/home-alt">Banner text goes here. If there is a link provided, this will link to a page, internal or external.</a>
</div>