---

---

{
  import.meta.env.DEV && (
    <div class="bg-opacity-75 fixed start-2 bottom-2 z-50 rounded border border-white bg-black px-3 py-2 font-mono text-xs font-semibold text-white bg-blend-difference shadow-lg">
      <div class="block sm:hidden">XS — ≤ 539px</div>
      <div class="hidden sm:block md:hidden">SM — 540–767px</div>
      <div class="hidden md:block lg:hidden">MD — 768–1023px</div>
      <div class="hidden lg:block xl:hidden">LG — 1024–1319px</div>
      <div class="hidden xl:block 2xl:block">XL — ≥ 1320px</div>
    </div>
  )
}
